# ignore all files in directory named target
target/
bin/
# ignore all files in directory named json_output
json_output/
test-output/
ExtentReports/
# ignore files
.classpath
.project
.settings
.chromedriver.exe